/Visitor.class
/VisitorActivePotionTypeA.class
/VisitorActivePotionTypeB.class
/VisitorDoorway.class
/VisitorEnemy.class
/VisitorFruitTypeA.class
/VisitorFruitTypeB.class
/VisitorFruitTypeC.class
/VisitorMainCharacter$1.class
/VisitorMainCharacter.class
/VisitorPotionTypeA.class
/VisitorPotionTypeB.class
/VisitorPoweredDot.class
/VisitorRegularDot.class
/VisitorWall.class
